@page
@using HospitalManagement.DataAccess.Models
@model HospitalManagement.Pages.PrescriptionV.CreatePrescriptionModel
@{
}
<style>
    .column {
        float: left;
        width: 100%;
        height: 500px;
        overflow: auto;
    }
    
    .columnItem {
        width: 50%;
    }

    .inpVal{
        width:500px;
    }
      h1 {
        text-align: center;
        margin-top: 0;
        font-size:20px;
        font-weight:bold
      }
      label {
        display: block;
        margin-bottom: 10px;
        font-weight: bold;
      }
      select {
        display: block;
        width: 100%;
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 5px;
        margin-bottom: 20px;
        box-sizing: border-box;
        font-size: 16px;
        font-family: inherit;
      }
      .btn {
        background-color: #003366;
        color: white;
        padding: 10px 10px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        font-size: 16px;
      }
      .btn:hover {
        background-color: #3e8e41;
      }
    </style>

<title>Create new Prescription</title>
    
  
  
    <div class="container">
    <h1 style="font-size:50px, larger">Create new Prescription</h1>
    <form asp-page-handler="CreatePrescriiption" method="post">
        <label for="symptom">Patient:</label>
        @*<select id="userSelect" onchange="onUserSelectChange()" name="symptom">
        <option value="">--Select Patient--</option>
        <!-- loop to get symptoms -->
        @foreach(var s in @Model.UserList)
        {
                var patient = @Model.ProfileList.FirstOrDefault(p => p.Id == s.ProfileId);
                string patientName = patient != null ? patient.Name : "";
                <option value="@s.Id">@patientName</option>
        }
      </select>*@
      <label for="disease">Disease:</label>
        <div class="column">
            <table>
                <thead>
                    <tr>
                        <th>Item</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in @Model.MedicatioinList.Take(Model.MedicatioinList.Count() / 2))
                    {
                        <tr>
                            <td class="columnItem">
                                <label style="width:400px">
                                    <input type="checkbox" name="selectedItems" value="@item.Id" />
                                    @item.Name
                                </label>
                            </td>
                            <td class="columnItem">
                                <input class="inpVal" type="number" name="quantities[@item.Id]" value="1" min="0" max="100" required />
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
      <br/>
      <br/>
        <div style="clear:both;"></div>
      <button type="submit" class="btn">Create a new Prescription</button>
      </form>
      
      
    </div>

