@page
@model HospitalManagement.Pages.PrescriptionV.ViewPrescriptionModel
@using HospitalManagement.DataAccess.Models;
@{
    Layout = "~/Pages/Shared/_Layout.cshtml";

}

<div class="row">
    <h2 class="col-md-10">Prescription List</h2>
    <a href="/PrescriptionV/CreatePrescription" class="col-md-2 btn btn-secondary">Create Prescription</a>
</div>
<table class="table table-striped mt-5">
    <tr>
        <th>Prescription ID</th>
        <th style="width: 10%;">Create At</th>
        <th style="width: 20%;">Detail</th>
        <th>#</th>
    </tr>
    @foreach (var prescriptionD in @Model.lst)
    {
        var pre = @Model.lstPre.FirstOrDefault(p => p.Id == prescriptionD.PrescriptionId);
        var patient = @Model.PatientList.FirstOrDefault(p => p.Id == pre.PatientId);
        var doctor = @Model.UserList.FirstOrDefault(p => p.Id == pre.DoctorId);
        var medi = @Model.MedicationList.FirstOrDefault(p => p.Id == prescriptionD.MedicationId);
        <tr>
            <td>@prescriptionD.Id</td>
            <td>@(pre.CreatedAt.HasValue ? pre.CreatedAt.Value.ToString("dd-MM-yyyy") : "")</td>
            <td>@medi.Name</td>
        </tr>
    }
</table>
