@page "/examinations/{id?}"
@using HospitalManagement.DataAccess.Models
@model HospitalManagement.Pages.MedicalExamination.ExaminationCardDetailModel
@{
    
}

<div >
    <h2 class="mb-3">Medical Examination Card</h2>
    <div class="border border-1 rounded-2 p-3">
        <div class="mb-3 border-bottom pb-2">
            <span>Date: </span>
            <span>2023-07-17</span>
        </div>
        <div class="row">
            <div class="col-md-6 border-end">
                <div class="mb-3 border-bottom pb-2">
                    <h4>Doctor Information:</h4>
                    <div>
                        <span>Doctor: </span>
                        <span>@Model.ProfileDoctor.Name</span>
                    </div>
                    <div>
                        <span>Phone: </span>
                        <span>@Model.ProfileDoctor.Phone</span>
                    </div><div>
                        <span>Email: </span>
                        <span>@Model.ProfileDoctor.Email</span>
                    </div>
                </div>
                <div>
                    <h4>Patient Information:</h4>
                    <div>
                        <span>Full name: </span>
                        <span>@Model.ProfilePatient.Name</span>
                    </div>
                    <div>
                        <span>Phone: </span>
                        <span>@Model.ProfilePatient.Phone</span>
                    </div>
                    <div>
                        <span>Email: </span>
                        <span>@Model.ProfilePatient.Email</span>
                    </div>
                    <div>
                        <span>Address: </span>
                        <span>@Model.ProfilePatient.Address</span>
                    </div>
                    <div>
                        <span>Medical history: </span>
                        <p class="ms-3">@Model.MedicalRecord.MedicalHistory</p>
                    </div>
                    <div>
                        <span>Family history: </span>
                        <p class="ms-3">@Model.MedicalRecord.FamilyHistory</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 border-start">
                <div class="mb-3 border-bottom pb-2">
                    <h4>Examination:</h4>
                    <div>
                        <span>Symptoms: </span>
                        <span>@Model.Sympton.Name</span>
                    </div>
                    <div>
                        <span>Disease: </span>
                        <span>@Model.Disease.Name</span>
                    </div>
                    <div>
                        <span>Cause: </span>
                        <span>@Model.Disease.Cause</span>
                    </div>
                    <div>
                        <span>Treatment: </span>
                        <span>@Model.Disease.Treatment</span>
                    </div>
                    <div>
                        <span>Prevention: </span>
                        <span>@Model.Disease.Prevention</span>
                    </div>
                    <div>
                        <span>Complication: </span>
                        <span>@Model.Disease.Complication</span>
                    </div>
                </div>
                <div>
                    <h4>Prescirption:</h4>
                    <ul class="list-group">
                        @foreach(Medication m in Model.Medications)
                        {
                            <li class="list-group-item"><a href="" class="link-dark">@m.Name</a></li>
                        }
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>